@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-principal:  #B93DAF;
    --cor1: #f9f871;
    --cor2: #c896c1;
    --cor3: #ff9a5b;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
font-size: 1rem;
font-family: 'Poppins';
}


section {
    padding-bottom: 5rem;
}

.display-4{
    text-shadow: -5px 5px var(--cor1);
}

#egito {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--cor3);
    background-size: 180px 180px;  
}

#egito .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}






















#contato {
    background: #B93DAF;
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color: #ff9a5b;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #c896c1;
}